.Main {
    .autocompletePaper {
        height: 350px;
        width: 350px;
        padding: 10px 30px 25px 25px;
        @media only screen  and (max-width : 600px) {
            height: 370px;
        }
    }

    .selectedPaper{
        padding: 10px 30px 25px 25px;
        height: 350px;
        width: 350px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    input {
        width: 348px;
    }
}
